@use '../../styles/Color.scss' as *;

.infinite_scroll_table_table {
  .ant-table-body {
    overflow-y: auto !important;
  }
  .ant-table-column-sorters {
    gap: 10px;
  }
}

.table_row_infinity {
  &.edit {
    td {
      vertical-align: top;
      padding: 18px 2px 6px 2px !important;
    }
    background: $transaction-selected-color;
  }
}
