@use '../../styles/Color.scss' as *;

.my_segment {
  @include full-width;
  border-radius: $border-radius;
  label {
    @include half-width;
  }
  .ant-segmented-item {
    border-radius: $border-radius;
    &:after {
      border-radius: $border-radius !important;
    }
  }
  &.white {
    background-color: $white-color;
  }
  &.dark {
    background-color: $dark-mode-bg;
  }

  .ant-segmented-thumb-motion-appear {
    border-radius: 100px;
  }
}
