@use '../../styles/Color.scss' as *;

.custom_switch {
  height: $control-height-lg;
  padding-right: 10px;
  .ant-form-item-row {
    @include full-height;
    @include full-width;
    align-items: center;
  }
}

.my_switch_row {
  label {
    @include link-cursor;
  }
  .ant-col {
    @include half-width;
    display: flex;
    .ant-form-item-control-input-content {
      justify-content: flex-end;
    }
  }
}

@media (max-width: 575px) {
  .my_switch_row {
    .ant-col {
      @include half-width;
      max-width: 50% !important;
      display: flex;
      .ant-form-item-control-input-content {
        justify-content: flex-end;
      }
    }
  }
}
